include vendor/libspng-0.7.2/spng.c
include vendor/libspng-0.7.2/spng.h
include vendor/libspng-0.7.2/LICENSE
include vendor/miniz-2.2.0/miniz.c
include vendor/miniz-2.2.0/miniz.h
include vendor/miniz-2.2.0/LICENSE
include vendor/Makefile
include LICENSE
include requirements.txt